@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'NeoDunggeunmo';
}

.App { 
  margin: auto;
  max-width: 480px;
  height: 100vh;
}


/* Logo Page -----------------------------*/
.LogoPage { 
  margin: auto;
  max-width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LogoPage img { 
  width: 80%;
}


/* Login -----------------------------*/
.Login {
  margin: auto;
  max-width: 480px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.Login .logo_area { 
  height: 100px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

.Login .logo_area img{
  height: 100%;
}

.Login .login_area{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login .login_area div { 
  width: 80%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login .login_area div input { 
  width: 350px;
  height: 40px;
  border-radius: 6px;
  font-size: 15px;
  padding: 0 15px;
  border: 2px solid #000000;
  background: transparent;
  color: rgb(0, 0, 0);
  outline: none;
  margin-bottom: 10px;
}

.Login .login_area div label{
  position: absolute;
  top: 40%;
  left: -20px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 15px;
  pointer-events: none;
  transition: 0.3s;
}

.Login .login_area div  input:focus{
  border: 2px solid #000000;
}

.Login .login_area div  input:focus ~ label,
.Login .login_area div  input:valid ~ label{
  top: 0;
  left: -20px;
  font-size: 13px;
  padding: 0 2px;
  background: white;
}

.Login .login_area button { 
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 350px;
  cursor: pointer;
  margin-bottom: 5px;
}

.Login .login_area .login_btn { 
  background-color: #000000;
  color: white;
}

.Login .login_area .login_google_btn{ 
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login .login_area .login_google_btn img { 
  width: 20px;
  margin-left: 10px;
}

.Login hr { 
  margin: 30px 0px;
  width: 85%;
  background-color: #000000;
  height: 3px;
}

.signin_area button { 
  width: 350px;  
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 35px;
  background-color: #cacaca;
  cursor: pointer;
}

.signin_box { 
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
  transition: transform 0.3s ease-in-out, 
              visibility 0s 0.3s,
              opacity 0.3s ease-in-out ;
}

.signin_box.active { 
  visibility: visible; 
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0s; 
}

/* Sign In -----------------------------*/
.SignIn { 
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px double gray;
  padding: 10px 5px
}

.SignIn div { 
  position: relative;
  display: flex;
  flex-direction: column;
}

.SignIn div label {
  color: gray;
}

.SignIn div input { 
  width: 300px;
  height: 30px;
  border-radius: 6px;
  font-size: 15px;
  padding: 0 15px;
  border: 1px solid gray;
  background: transparent;
  color: gray;
  outline: none;
  margin-top: 3px;
  margin-bottom: 10px;
}

.SignIn button { 
  width: 300px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: gray;
  color: white;
}


/* Nav Bar ----------------------------- */
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding: 0px 10px;
  position: relative;
}

.NavBar img{ 
  width: 150px;
  cursor: pointer;
}

.NavBar .logo_area { 
  text-align: center;
  z-index: 10;
}


nav .nav_menus span{ 
  margin-right: 13px;
  color: rgb(65, 65, 65);
}

nav .hamburger_area{ 
  height: 15px;
}


nav .hamburger { 
  height: 100%;
  width: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

nav .burger-bar { 
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 0.5em;
  z-index: 10;
}


nav .menu { 
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bdbdbd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

nav .menu_area { 
  margin-top: 65px;
  list-style: none;
  padding: 0;
}

nav .menu_area li {
  margin-top: 10px;
  cursor: pointer;
}

nav .menu_area li:hover{
  color: gray;
}

/* sliding menu */
nav .hidden { 
 visibility: hidden;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.3s ease-in-out, 
             visibility 0s 0.3s;
}

nav .visible { 
  visibility: inherit;
  max-height: 500px; 
  transition: max-height 0.3s ease-in-out, 
              visibility 0s; 
}

/* clicked */
nav .burger-bar.clicked:nth-child(1) { 
  transform: rotate(45deg) translate(0.3em, 0.1em);
  transition: ease-out 0.3s;
}
nav .burger-bar.clicked:nth-child(2) { 
  transform: scale(0.1);
  transition: ease-out 0.1s;
}
nav .burger-bar.clicked:nth-child(3) { 
  transform: rotate(135deg) translate(-0.5em, 0.3em);
  transition: ease-out 0.3s;
}

/* unClicked */
nav .burger-bar.unclicked{
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}


/* Home ----------------------------- */
.Home {
  margin: auto;
  max-width: 480px;
  height: 100vh;
}

.Home .home_date_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.Home .home_date_area > span:nth-child(1),
.Home .home_date_area > span:nth-child(3){
  border: 1.5px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  cursor: pointer;
  background-color: #cfcfcf44;;
}

.Home .home_date_area > span:nth-child(2){
  font-size: 18px;
}

.Home .home_week_area { 
  border: 1.5px solid black;
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

.Home .home_week_area > div:nth-child(1){
  height: 35px;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.Home .week_goals { 
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #cfcfcf44;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Home .week_goals::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.Home .goal_item {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 5px;
}

.Home .goal_item > span:nth-child(1){ 
  margin-right: 5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-bottom: 2px;
}

.Home .goal_item .subject { 
  font-size: 13px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
}

.Home .goal_item .sub_영어{ 
  background-color: pink;
}

.Home .goal_item .sub_운동{ 
  background-color: rgb(176, 217, 234);
}

.Home .goal_item > span:nth-child(3){
  font-size: 15px;
}

.Home .home_daily_area{ 
  width: 85%;
  margin: auto;
  margin-top: 20px;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
}

.Home .home_daily_item {
  display: flex;
  height: 70px;
  border-bottom: 1.5px solid black;
}

.Home .home_daily_item > div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 18%;
  background-color: #cfcfcf44;
}

/* 일별 날짜 */
.Home .home_daily_item > div:first-child > span:first-child{
  margin-bottom: 5px;
}

.Home .home_daily_item > div:first-child > span:last-child{
  font-size: 18px;
}

/* 일별 계획 */
.Home .home_daily_item > div:last-child{
  border-left: 1.5px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-basis: 82%;
  overflow: scroll;
  background-color: #cfcfcf44;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Home .home_daily_item > div:last-child::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}